// config.json.example
{
  "TELEGRAM": {
    "API_KEY": "your-api-key",
    "LIST_OF_ADMINS": [your-telegram-id, other-telegram-id],
  },
  "FTP": {
    "URL": "your-domain-name",
    "USERNAME": "your-ftp-username"
	"PASSWORD": "your-ftp-password",
  },
  "TWITTER": {
    "USERNAME" : "your-twitter-username",
    "CONSUMER_KEY": "your-consumer-key",
    "CONSUMER_SECRET": "your-secret-consumer-key",
    "ACCESS_TOKEN": "your-access-token",
	"ACCESS_TOKEN_SECRET": "your-secret-access-token"
  },
}
